<html>
<head>
	<title>イベント一覧</title>
</head>
<body>
<table border="1">
	<thead>
		<th>イベント名</th>
		<th>日時</th>
		<th>場所</th>
	</thead>
	<tbody>
<% @events.each_with_index do |event, i| %>
	<tr>
		<td><a href="/event/<%= i %>"><%= event.name %></a></td>
		<td><%= event.start_date %> 〜 <%= event.end_date %></td>
		<td><%= event.location %></td>
	</tr>
<% end %>
	</tbody>
</table>
<a href="/event/new">新規登録</a>
</body>
</html>